/* Paris extension, https://github.com/datenstrom/yellow-extensions/tree/master/source/paris */

html, body, div, form, pre, span, tr, th, td, img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(paris-opensans-light.woff) format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(paris-opensans-regular.woff) format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(paris-opensans-bold.woff) format("woff");
}
body {
    background-color: #fff;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: normal;
}
h1 {
    font-size: 2em;
    font-weight: 700;
}
h2 {
    font-size: 1.6em;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
}
hr {
    height: 1px;
    background: #bbb;
    border: 0;
}
strong {
    font-weight: bold;
}
code {
    font-size: 1.1em;
}
a {
    color: #cf3621;
    text-decoration: none;
}
a:hover {
    color: #cf3621;
    text-decoration: underline;
}

/* Content */

.content {
    font-size: 1.11em;
}
.content h1 a {
    color: #333;
}
.content h1 a:hover {
    color: #333;
    text-decoration: none;
}
.content img {
    max-width: 100%;
    height: auto;
}
.content form {
    margin: 1em 0;
}
.content table {
    border-spacing: 0;
    border-collapse: collapse;
}
.content th {
    text-align: left;
    padding: 0.3em;
}
.content td {
    text-align: left;
    padding: 0.3em;
    padding-right: 2em;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
.content code,
.content pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 90%;
}
.content code {
    padding: 0.15em 0.4em;
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.content pre > code {
    padding: 0;
    margin: 0;
    white-space: pre;
    background: transparent;
    border: 0;
    font-size: inherit;
}
.content pre {
    padding: 1em;
    overflow: auto;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.content blockquote {
    background-image: url(paris-quote.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 30px;
    color: #777;
}
.content .notice1 {
    margin: 1em 0;
    padding: 10px 1em;
    background-color: #fffbf0;
    border-left: 10px solid #fb0;
}
.content .notice2 {
    margin: 1em 0;
    padding: 10px 1em;
    background-color: #fdf3f2;
    border-left: 10px solid #d32;
}
.content .notice3,
.content .notice4,
.content .notice5,
.content .notice6 {
    margin: 1em 0;
    padding: 10px 1em;
    background-color: #f7f7f7;
    border-left: 10px solid #777;
}
.content .flexible {
    position: relative;
    padding-top: 0;
    padding-bottom: 56.25%;
}
.content .flexible iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content .task-list-item {
    list-style-type: none;
}
.content .task-list-item input {
    margin: 0 0.2em 0.25em -1.75em;
    vertical-align: middle;
}
.content .toc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.content .previousnext .previous {
    margin-right: 1em;
}
.content .pagination .previous {
    margin-right: 1em;
}
.content .pagination {
    margin: 1em 0;
}
.content .left {
    float: left;
    margin: 0 1em 0 0;
}
.content .center {
    display: block;
    margin: 0 auto;
}
.content .right {
    float: right;
    margin: 0 0 0 1em;
}
.content .rounded {
    border-radius: 4px;
}

/* Header */

.header .sitename h1 {
    font-size: 1.2em;
    font-weight: 400;
}
.header .sitename h1 a {
    color: #333;
    text-decoration: none;
}
.header .sitename p {
    color: #333;
}
.header .sitename-logo {
    display: inline-block;
    background-image: url(paris-logo.png);
    background-size: cover;
    width: 36px;
    height: 36px;
    margin: 0 10px 5px 0;
    vertical-align: middle;
}

/* Navigation */

.navigation {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 2;
}
.navigation a {
    color: #333;
    border-bottom: solid 1px #fff;
    text-decoration: none;
    padding: 0;
}
.navigation a:hover {
    border-bottom: solid 1px #cf3621;
}
.navigation ul {
    margin: 0 -0.3em;
    padding: 0;
    list-style: none;
}
.navigation li {
    display: inline;
    padding: 0 0.3em;
}
.navigation li a.active {
    border-bottom: solid 1px #cf3621;
}
.navigation ul li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0;
}
.navigation ul li ul {
    padding: 0.3em;
    position: absolute;
    width: 13em;
    background: #fff;
    z-index: 100;
    display: none;
}
.navigation ul li ul {
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
.navigation ul li ul li {
    display: block;
}
.navigation > ul > li:hover > ul {
    display: block;
}
.navigation-banner {
    clear: both;
}

/* Footer */

.footer {
    margin-top: 2em;
    text-align: center;
    background: #fff;
}
.footer .siteinfo {
    color: #888;
    padding-top: 1em;
    padding-bottom: 1em;
}
.footer .siteinfo a {
    color: #555;
    text-decoration: none;
}
.footer .siteinfo a:hover {
    color: #cf3621;
    text-decoration: underline;
}

/* Forms and buttons */

.form-control {
    margin: 0;
    padding: 2px 4px;
    display: inline-block;
    min-width: 7em;
    background-color: #fff;
    color: #555;
    background-image: linear-gradient(to bottom, #fff, #fff);
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: inherit;
    font-weight: normal;
    line-height: normal;
}
.btn {
    margin: 0;
    padding: 4px 22px;
    display: inline-block;
    min-width: 7em;
    background-color: #eaeaea;
    color: #333333;
    background-image: linear-gradient(to bottom, #f8f8f8, #e1e1e1);
    border: 1px solid #bbb;
    border-color: #c1c1c1 #c1c1c1 #aaaaaa;
    border-radius: 4px;
    outline-offset: -2px;
    font-size: 0.9em;
    font-family: inherit;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.btn:hover,
.btn:focus,
.btn:active {
    color: #333333;
    background-image: none;
    text-decoration: none;
}
.btn:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive and print */

.page {
    margin-top: 0.5em;
}
.header,
.content,
.siteinfo {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
}
.yellow-bar {
    margin: 0 auto;
    padding: 0.7em 1em;
    max-width: 1000px;
}
.yellow-dropdown a:hover,
.yellow-toolbar a:hover {
    background-color: #d44;
    border-color: #d44;
}
.yellow-toolbar .yellow-toolbar-btn-edit {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
.yellow-toolbar .yellow-toolbar-btn-create {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
.yellow-toolbar .yellow-toolbar-btn-delete {
    background-color: #c33;
    border-color: #c33;
    color: #fff;
}

@media screen and (max-width: 32em) {
    body {
        font-size: 0.9em;
    }
    .header .sitename h1 {
        margin: 0;
        padding: 0;
    }
    .header .sitename h2 {
        margin-top: -0.5em;
    }
    .header .sitename-logo {
        width: 30px;
        height: 30px;
    }
    .navigation {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .content h1,
    .content h2 {
        font-size: 1.5em;
    }
}
@media print {
    .page {
        border: none !important;
    }
}
