/* Yellow coffeecream style 0.1.1 */

@import url(http://fonts.googleapis.com/css?family=Norican);
html, body, div, span { margin:0; padding:0; border:0; vertical-align:baseline; }
body {
	margin:1em 2em;
	background-color:#feb; color:#d20;
	font-family:"Helvetica Neue",Helvetica,sans-serif; 
	font-size:1.0em; 
	font-weight:200; 
	line-height:1.5; 
}
h1, h2, h3, h4, h5, h6 { 
	font-family:Norican,Helvetica,sans-serif; 
	font-weight:400; 
}
hr { height:1px; background:#fda; border:0; }
code { font-size:1.1em; }
a, img { border:none; text-decoration:none; }
a { color:#d20; }
a:hover { color:#373737; }
.page { margin:0 auto; max-width:1000px; background-color:#feb; }
.header h1 { margin:0; font-size:3em; text-align:center; }
.header a { color:#d20; }
.header-banner { 
	margin:0.2em 0; 
	padding-top:11%; 
	background-image:url(coffeecream.png); 
	background-repeat:no-repeat; 
	background-size:cover; 
	background-position:center; 
}
.navigation { padding:0.5em 1em; background-color:#fff; border:3px solid #fd9; border-bottom-width:0; line-height:2em; }
.navigation a { color:#d20; padding:0 1em; display:inline-block; }
.navigation a:hover { color:#fff; background-color:#d20; }
.navigation li a.active { color:#111; }
.navigation li a.active:hover { color:#fff; }
.navigation li { display:inline; }
.navigation ul { margin:0; padding:0; list-style:none; text-align:center; }
.content { margin-top:-1em; padding:2em 1em; padding-top:1px; background-color:#fff; color:#373737; }
.content { border:3px solid #fd9; border-top-width:0; }
.content a { color:#d20; }
.content a:hover { color:#d20; text-decoration:underline; }
.content img { max-width:100%; height:auto; }
.footer { padding:1em; text-align:center; }
.left { float:left; margin:0 1em 0 0; }
.center { display:block; margin:0 auto; }
.right { float:right; margin:0 0 0 1em; }

/* Responsive and print */

@media screen and (min-width:62em) {
	body { width:58em; margin:1em auto; }
}
@media screen and (max-width:30em) {
	body { margin:0.5em; font-size:0.9em; }
	.header h1, h1, h2 { font-size:1.5em; }
	.header h1, .header, .navigation, .footer, .page { margin:0; padding:0; }
	.navigation, .footer { font-size:0.9em; }
	.content, .footer { padding:0.5em; }
}
@media print {
	body, h1, h2, h3, h4, h5, h6 { background-color:white; color:black; }
	.content { border:none !important; }
	.navigation, .footer { display:none !important; }
}