<?php $this->yellow->layout("header") ?>
<div class="content">
<?php $this->yellow->layout("sidebar") ?>
<div class="main" role="main">
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
<div class="language">
<?php foreach ($this->yellow->content->multi("/")->sort("language") as $page): ?>
<?php $language = $page->get("language") ?>
<p><a href="<?php echo $page->getLocation(true) ?>"><img src="<?php echo $this->yellow->page->getBase()."/media/images/language-$language.png" ?>" width="48" height="48" alt="<?php echo $this->yellow->text->getTextHtml("languageDescription", $language) ?>" title="<?php echo $this->yellow->text->getTextHtml("languageDescription", $language) ?>" /><?php echo $this->yellow->text->getTextHtml("languageDescription", $language) ?></a></p>
<?php endforeach ?>
</div>
</div>
</div>
<?php $this->yellow->layout("footer") ?>
